.btn{
	margin: 10px;
}

.btn-primary{

	width: 200px;
}
.btn-success{
	width: 200px;
}

.btn-danger{
	width: 80px;
}

.btn-warning{
	width: 70px;
	margin-right: 35px
}
.CustomF{
	float:none;
	text-align: center;
}

#CNR{
	width: 150px;
}



@media (max-width: 600px){
	.row{
		width: 520px;
	}
}

@media (max-width: 320px){
	.row{
		width: 320px;
	}
}